.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-primary);

  &-link {
    color: var(--color-text);
    text-decoration: none;

    &:active {
      color: var(--color-gray);
    }

    &--active {
      color: var(--color-secondary);
    }
  }
}

@media only screen and (min-width: 600px) {
  .menu {
    right: 0;
    padding-top: 1.875rem;
    z-index: 1;

    &-close,
    &-hamburger {
      display: none;
    }

    &-list {
      margin-top: 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      margin-right: 1.875rem;
    }

    &-item {
      margin-left: 2.5rem;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    height: 100%;
    width: 15.625rem;
    margin-left: -15.625rem;
    transition: transform 0.5s ease-in-out;
    z-index: 2000;
    transform: translateX(0);

    &--show-sidebar {
      transform: translateX(100%);
    }

    &-hamburger {
      position: fixed;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      padding: 1.25rem 0 0 1.25rem;
    }

    &-hamburger-icon {
      font-size: 30px;
      cursor: pointer;
    }

    &-close {
      position: absolute;
      right: 0;
      padding: 1.25rem;
    }

    &-overlay {
      background-color: var(--color-darker-primary);
      opacity: 0.6;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
    }

    &-list {
      list-style-type: none;
      margin-top: 1.875rem;
    }

    &-item {
      margin-bottom: 1.875rem;

      &:hover {
        color: var(--color-secondary);
        cursor: pointer;
      }
    }
  }
}
