.work {
  animation: slide-down 1s;
  box-sizing: border-box;
  border-radius: 0.3125rem;

  &:hover,
  &:active {
    .link {
      transform: scale(1);
    }

    .work-overlay {
      background-color: transparent;
    }

    .work-screenshot-img {
      transform: scale(1.05);
      transform-origin: center;
      filter: grayscale(0);
    }
  }

  &-screenshot {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.3125rem;
    box-shadow: 0 10px 10px -10px black;
  }

  &-screenshot-img {
    display: block;
    width: 100%;
    transition: transform 0.2s linear, filter 0.2s linear;
    filter: grayscale(100%);
  }

  &-overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-black-rgb), 0.2);
    transition: background-color 0.2s linear;
  }

  &-title {
    margin-top: 0;
    font-weight: bold;
  }

  &-description {
    line-height: 1.5;
    margin: 0 auto 0.3125rem auto;
    padding: 20px;
    background-color: var(--color-darker-primary);
    overflow: auto;
    max-width: 97%;
    border-radius: 0 0 0.3125rem 0.3125rem;
    box-sizing: border-box;
  }

  &-tags {
    display: flex;
    opacity: 0.5;
    align-items: center;
    margin-top: 0.625rem;
    color: var(--color-gray);
    font-size: 0.8125rem;

    &-icon {
      margin-right: 0.625rem;
    }
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  padding: 0 1.25rem;
  border-radius: 1.5625rem;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(var(--color-secondary-rgb), 0.5);
  transform: scale(0);

  &-icon {
    margin-left: 0.3125rem;
  }

  &:hover,
  &:active {
    background-color: var(--color-secondary);
  }
}

.repo {
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 4px;
  color: var(--color-gray);
  text-decoration: none;
}

@keyframes slide-down {
  from {
    opacity: 0.5;
    transform: translateY(-1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
