@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.typewriter {
  line-height: 25px;
  height: 25px;
  font-family: "Special Elite", sans-serif;
}

.caret {
  animation: blinking 300ms infinite alternate;
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
}
