.contact {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-darker-primary);
    padding: 3.75rem 0;
    border-radius: 0.3125rem;
    width: 85%;
    max-width: 25rem;
    position: relative;
    flex-shrink: 0;
  }

  &-glow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: glow 1s infinite alternate;
    transition: ease;
    box-shadow: 0 0 0.625rem 0.625rem rgba(var(--color-secondary-rgb), 0.5);
    border-radius: 0.3125rem;
    z-index: -1;
  }

  &-item {
    margin-bottom: 0.3125rem;
    display: inline-block;
  }

  &-link {
    color: var(--color-text);
    text-decoration: none;
    user-select: none;
  }

  &-label {
    &:hover {
      color: var(--color-secondary);
    }
  }
}

@keyframes glow {
  from {
    transform: scale(0.97);
  }
  to {
    transform: scale(1);
  }
}

.copy-icon {
  opacity: 0.5;
  margin-left: 0.9375rem;
  position: relative;
  top: 0.1875rem;
  cursor: pointer;
}

.copied {
  position: absolute;
  background-color: var(--color-darker-primary);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  animation: moveup 1s;
  bottom: -5rem;
  opacity: 0;

  &--hidden {
    display: none;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-0.625rem);
    opacity: 0;
  }
}

.hvr-icon {
  margin-right: 0.375rem;
  position: relative;
  top: 0.1875rem;
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  box-shadow: 0 0 0.0625rem var(--color-darker-primary);
}

.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-up:hover .hvr-icon,
.hvr-icon-up:focus .hvr-icon,
.hvr-icon-up:active .hvr-icon {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(-0.375rem);
    transform: translateY(-0.375rem);
  }
}

.ph-flag {
  margin-top: 0.3125rem;
  width: 1.875rem;
  height: 1.75rem;
}
