.home {
  &-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    column-gap: 3.125rem;
    row-gap: 1.875rem;
    width: 90%;
  }
}

.bio {
  width: 100%;
  max-width: 21.875rem;

  &-text {
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
  }
}

.photo {
  position: relative;
  height: 12.5rem;
  width: 12.5rem;

  &-img {
    width: 100%;
    box-shadow: 0.625rem 0.625rem 0rem -0.1875rem rgba(0, 0, 0, 0.5);
    border-radius: 0.3125rem;
  }

  &-blindfold {
    position: absolute;
    height: 3.125rem;
    transform: scaleX(1);
    width: 100%;
    transition: 0.4s;
    transform-origin: right;

    &--black {
      top: 3.125rem;
      background-color: var(--color-darker-primary);
    }

    &--red {
      top: 6.125rem;
      background-color: var(--color-secondary);
    }
  }

  &:hover {
    .photo-blindfold {
      transform: scaleX(0);
    }
  }
}
