.works {
  justify-content: flex-start;

  &-container {
    width: 90%;
    margin: 0 auto;
  }

  &-section-title {
    display: inline-block;
    border-bottom: 0.1875rem solid var(--color-secondary);
    padding-bottom: 0.1875rem;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .works {
    &-list {
      grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
    }
  }
}
