@function colorToRGB($color) {
  @return red($color), green($color), blue($color);
}

:root {
  --color-primary: #181818;
  --color-secondary: #008080;
  --color-secondary-rgb: #{colorToRGB(#008080)};
  --color-darker-primary: #120e0e;
  --color-darker-primary-rgb: #{colorToRGB(#120e0e)};
  --color-text: #eee;
  --color-gray: gray;
  --color-white: #fff;
  --color-white-rgb: #{colorToRGB(#fff)};
  --color-black: #000;
  --color-black-rgb: #{colorToRGB(#000)};
}
