.swiper-pagination {
  position: fixed;
}

.swiper-pagination-bullet {
  background-color: rgba(var(--color-white-rgb), 0.5);
  &-active {
    background-color: var(--color-secondary);
  }
}
